examples/create-read.json
[{"id":"420caaa7902404aa","type":"Google Drive","z":"cf538e0d223378bf","name":"","autoName":"Create file","googleCredentials":"b6afcf06d0f2af8f","operation":"create","folderId":"1kTsI-8eGD5LTAxTRlFYdfZgqOod926W2","fileId":"sdfsdsd","fileName":"myfile.txt","folderName":"Gino","x":490,"y":140,"wires":[["6dfb32f415d0e58f","011023aae02c4847"]]},{"id":"928368e374e228af","type":"inject","z":"cf538e0d223378bf","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["72820b42d85571b4"]]},{"id":"e5ddcb0e656246a6","type":"debug","z":"cf538e0d223378bf","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"72820b42d85571b4","type":"function","z":"cf538e0d223378bf","name":"function 1","func":"msg.payload = {\n    buffer: 'abba'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["420caaa7902404aa"]]},{"id":"011023aae02c4847","type":"Google Drive","z":"cf538e0d223378bf","name":"","autoName":"Read file","googleCredentials":"b6afcf06d0f2af8f","operation":"read","folderId":"1kTsI-8eGD5LTAxTRlFYdfZgqOod926W2","fileId":"","fileName":"pino.txt","folderName":"Gino","x":680,"y":140,"wires":[["e5ddcb0e656246a6"]]},{"id":"6dfb32f415d0e58f","type":"debug","z":"cf538e0d223378bf","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"b6afcf06d0f2af8f","type":"google-credentials","name":"gogle-cred-conf1","redirect_uri":"http://localhost:1880/google-credentials/auth/callback","scopes":"https://www.googleapis.com/auth/drive"},{"id":"651d28e384eebbe9","type":"global-config","env":[],"modules":{"@ivanva/node-red-contrib-google-drive":"0.0.1"}}]