examples/delete-file.json
[{"id":"420caaa7902404aa","type":"Google Drive","z":"cf538e0d223378bf","name":"","autoName":"Delete file","googleCredentials":"b6afcf06d0f2af8f","operation":"delete","folderId":"1kTsI-8eGD5LTAxTRlFYdfZgqOod926W2","fileId":"1i7cjZOckCLRox5OZNmJTqD_Z_1VZb030","fileName":"myfile.txt","folderName":"Gino","x":340,"y":140,"wires":[["6dfb32f415d0e58f"]]},{"id":"928368e374e228af","type":"inject","z":"cf538e0d223378bf","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["420caaa7902404aa"]]},{"id":"6dfb32f415d0e58f","type":"debug","z":"cf538e0d223378bf","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":140,"wires":[]},{"id":"b6afcf06d0f2af8f","type":"google-credentials","name":"gogle-cred-conf1","redirect_uri":"http://localhost:1880/google-credentials/auth/callback","scopes":"https://www.googleapis.com/auth/drive"},{"id":"31eb7d7284a6f1e7","type":"global-config","env":[],"modules":{"@ivanva/node-red-contrib-google-drive":"0.0.1"}}]